/node_modules
/public/hot
/public/storage
/public/attachments
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.env.example
.gitattributes
.styleci.yml
.idea
artisan
composer.json
composer.lock
index1.php
package.json
phpunit.xml
readme.md
server.php
webpack.mix.js
.git
/.git
